.signup {
    margin-right: 0;
}

.signup-input {

position:absolute;
top:40%;background-color: antiquewhite;
width: auto;
left:50%;
transform: translate(-50%, -50%);
border: 2px solid black;
border-radius: 10px;
padding: 30px;
}
input{
    margin: 10px 0px 10px 0px;
}
button{
    background-color:lightblue;
    width: 150px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
    font-size: large;
}